<div class="content-wrapper" ng-controller="myAdminStockInListCtrl" ng-init="getCategories(); getDistricts();">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h1><%= title %></h1>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><%= title %></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Select Category and District</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Categories</label>
                                <select class="form-control select2" ng-model="ddlCategories"
                                    ng-options="i.CategoryID as i.CategoryName for i in categories"
                                    ng-change="stockInDetails = [];">
                                    <option value="" disabled>Select Category</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Districts</label>
                                <select class="form-control select2" ng-model="ddlDistricts"
                                    ng-options="i.DistrictCode as i.DistrictName for i in districts"
                                    ng-change="stockInDetails = [];">
                                    <option value="" disabled>Select District</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" ng-click="getStockInDetails()">View List</button>
                </div>
            </div>
            <div class="row" ng-show="stockInDetails.length > 0">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Stock In Details</h3><br>
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" ng-model="search"
                                        class="form-control float-right" placeholder="Search">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i
                                                class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <p ng-show="totalQuintal.toFixed(2) != 0.00" style="margin-bottom: 0;"><b>Total Quantity: {{totalQuintal.toFixed(2)}} Qtls.</b></p>
                            <p ng-show="totalNo.toFixed(2) != 0.00" style="margin-bottom: 0;"><b>Total Quantity: {{totalNo.toFixed(2)}} Lakh Nos.</b></p>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-wrap">
                                <thead>
                                    <tr>
                                        <th ng-click="sort('DistrictName')" style="cursor: pointer;">
                                            District
                                            <span class="fa fa-sort" ng-show="sortKey=='DistrictName'"
                                                ng-class="{'fa fa-sort-down': reverse, 'fa fa-sort-up': !reverse}"></span>
                                        </th>
                                        <th ng-click="sort('FarmerName')" style="cursor: pointer;">
                                            Farmer's Name
                                            <span class="fa fa-sort" ng-show="sortKey=='FarmerName'"
                                                ng-class="{'fa fa-sort-down': reverse, 'fa fa-sort-up': !reverse}"></span>
                                        </th>
                                        <th ng-click="sort('FarmerMobileNo')" style="cursor: pointer;">
                                            Farmer's Mobile No.
                                            <span class="fa fa-sort" ng-show="sortKey=='FarmerMobileNo'"
                                                ng-class="{'fa fa-sort-down': reverse, 'fa fa-sort-up': !reverse}"></span>
                                        </th>
                                        <th ng-click="sort('ItemName')" style="cursor: pointer;">
                                            Items
                                            <span class="fa fa-sort" ng-show="sortKey=='ItemName'"
                                                ng-class="{'fa fa-sort-down': reverse, 'fa fa-sort-up': !reverse}"></span>
                                        </th>
                                        <th ng-click="sort('Quantity')" style="cursor: pointer;">
                                            Quantity
                                            <span class="fa fa-sort" ng-show="sortKey=='Quantity'"
                                                ng-class="{'fa fa-sort-down': reverse, 'fa fa-sort-up': !reverse}"></span>
                                        </th>
                                        <th ng-click="sort('AvailableDate')" style="cursor: pointer;">
                                            Available Date
                                            <span class="fa fa-sort" ng-show="sortKey=='AvailableDate'"
                                                ng-class="{'fa fa-sort-down': reverse, 'fa fa-sort-up': !reverse}"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        dir-paginate="i in stockInDetails | orderBy: sortKey: reverse | filter: search | itemsPerPage: 3000">
                                        <td>{{i.DistrictName | capitalize}}</td>
                                        <td>{{i.FarmerName | capitalize}}</td>
                                        <td>{{i.FarmerMobileNo}}</td>
                                        <td>{{i.ItemName | capitalize}}</td>
                                        <td>{{i.Quantity}} {{(i.Unit == 'Q') ? 'Qtls.' : 'Lakh Nos.'}}</td>
                                        <td>{{(i.AvailableDate == '01-01-2200 - 01-01-2200') ? 'NA' : i.AvailableDate}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="text-align: center;">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
                                </dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>