<%- include('header.ejs') -%>
<div class="content-outer" id="COntentDiv" style="padding-bottom: 0">
    <div id="container" class="clearfix">
        <section id="main" role="main" class="clearfix">
            <div class="messages error">
                <h2 class="element-invisible">Error message</h2>
                <ul>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em class="placeholder">ctools_access_get_loggedin_context()</em> (line <em class="placeholder">1411</em> of <em class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em class="placeholder">ctools_access_get_loggedin_context()</em> (line <em class="placeholder">1411</em> of <em class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                </ul>
            </div>
            <div class="side-left" style="text-align: center; margin-left: 250px; width: 60%; background-image: linear-gradient(#5dbec0, #149fa1)">
                <img  src="../gigw/nielit.gov.in/sites/default/files/M Muthukumar.jpg" style="padding: 10px;">
                <h3 style="color: black; margin-top: 3px;FONT-SIZE: 15px; margin-bottom: 3px; font-weight: 700;">DR. M.MUTHUKUMAR, IAS</h3>
                <h3 style="color: black; margin-top: 3px; margin-bottom: 10px;FONT-SIZE: 15px; font-weight: 700;">DIRECTOR </h3> 
                <div class="content" style="text-align: center; width: 75%;">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items" >
                            <div class="field-item even">
                                <p style="text-align: justify;">Surveillance and Forecasting are important aspects of integrated pest management. Surveillance or monitoring means close and usually constant observation of a object i.e. a crop or pest.</p>
                                <p style="text-align: justify;">The Plant Protection Wings of the Director of Agriculture & Food Production, Odisha in collaboration with NIC,OUAT and NRRI continuing their effort for surveillance of 8 crops like Paddy, Mung, Biri, Arhar, G Nut, Mustard, Sugarcane, & Cotton in online system called e-Pest surveillance and Pest Management. But after the wide use of smart phone and popularization of mobile app it is felt that the e-pest surveillance may be modified to mobile app to make more effective and farmers friendly. To fill that a app has been developed by NIC.</p>
                                <p style="text-align: justify;">I feel this app will create a new era in the history of Pest Surveillance. I wish all success to the endeavors of our stake holders for this end.</p>
                            </div>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include('footer.ejs') -%>