<%- include('header.ejs') -%>
<div class="content-outer" id="COntentDiv">
    <div id="container" class="clearfix">
        <section id="main" role="main" class="clearfix">
            <div class="messages error">
                <h2 class="element-invisible">Error message</h2>
                <ul>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em class="placeholder">ctools_access_get_loggedin_context()</em> (line <em class="placeholder">1411</em> of <em class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em class="placeholder">ctools_access_get_loggedin_context()</em> (line <em class="placeholder">1411</em> of <em class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                </ul>
            </div>
            <div class="side-left" style="width: 100%;">
                <h1>History</h1>
                <div class="content">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                            <div class="field-item even">
                                <p style="text-align: justify;">
                                    <p>Pest Surveillance is an age old practice. Before sixties farmers had no knowledge on application of pesticides to control the pest. Each and every day morning & evening they used to go round their field and survey their crop conditions to adopt control measures as per their experience and availability of local resources. In seventies after the introduction of chemical pesticides to control the pest, the noxious effects of pesticides were observed on environment and human beings. Thereafter authenticated Surveillance methods were formulated and implemented throughout the country.</p>
                                    <p>The State Agriculture Department in collaboration with Central Integrated Pest Management Centre, Bhubaneswar started conducting roving & fixed plot survey and collected data in printed cards (White, Yellow, Blue, and Red). To activate of the surveillance process, 63 no. of Assistant Agriculture Officer, Pest Surveillance posts were created in the State with nodal agency Deputy Director of Agriculture (Plant Protection). After introduction of electronic methods in 2010-11 this surveillance system changed to e-pest surveillance as guided by National Centre of Integrated Pest Management (NCIPM) by engaging Pest Scouts & Pest Monitor. There after it was noticed that the process is time consuming and advisory reached the farmers once in a week. To make it more effective, real time responsive and farmers’ friendly, the mobile App system is developed.</p>
                                </p>
                            </div>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include('footer.ejs') -%>