<%- include('header.ejs') -%>
<div class="content-outer" id="COntentDiv">
    <div id="container" class="clearfix">
        <section id="main" role="main" class="clearfix">
            <div class="messages error">
                <h2 class="element-invisible">Error message</h2>
                <ul>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em class="placeholder">ctools_access_get_loggedin_context()</em> (line <em class="placeholder">1411</em> of <em class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em class="placeholder">ctools_access_get_loggedin_context()</em> (line <em class="placeholder">1411</em> of <em class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                </ul>
            </div>
            <div class="side-left" style="width: 100%;">
                <h1>Right to Information</h1>
                <div class="content">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                            <div class="field-item even">
                                <h3 style="color: black">Directorate of Agriculture & Food Production, Odisha</h3><br />
                                <ul>
                                    <li>
                                        <p>Appellate Authority - Sj. Shiba Narayan Nanda, OAS, Additional Director (Administration)</p>
                                    </li>
                                    <li>
                                        <p>Public Information Officer (PIO) - Sj. K Ramasankar Rao, WMS, (Coordination)</p>
                                    </li>
                                    <li>
                                        <p>Additional Public Information Officer (APIO) - Sj. Gagan Bihari Kar, SO (Coordination)</p>
                                    </li>
                                </ul>
                                <h3 style="color: black">Office of the Deputy Director of Agriculture (Plant Protection) Barmunda, Bhubaneswar</h3><br />
                                <ul>
                                    <li>
                                        <p>Appellate Authority - Sj. Bijoy Bhusan Pattnaik, Deputy Director of Agriculture (Plant Protection)</p>
                                    </li>
                                    <li>
                                        <p>Public Information Officer (PIO) - Sj. Satchidananda Panda, PPO (HQ)</p>
                                    </li>
                                    <li>
                                        <p>Additional Public Information Officer (APIO) - Smt. Litty Pattnaik, PPO (BC)</p>
                                    </li>
                                </ul>
                                <p>An Act to provide for setting out the practical regime of right to information for citizens to secure access to information under the control of public authorities, in order to promote transparency and accountability in the working of every public authority, the constitution of a Central Information Commission and State Information Commissions and for matters connected therewith or incidental thereto.</p>
                                <ul>
                                    <li>
                                        <p><a href="http://rti.gov.in/" target="_blank">RTI Act&nbsp;</a></p>
                                    </li>
                                    <li>
                                        <p><a href="#" target="_blank">Download RTI Act&nbsp;</a></p>
                                    </li>
                                </ul>
                                <p>RTI Online has also been implemented for DeitY and its attached organisations, including NIELIT. This is a portal to file RTI applications/first appeals online along with payment gateway. Through this portal, RTI applications/first appeals can be filed by Indian Citizens only for the main ministries/departments of Central Govt. , located at New Delhi. RTI applications / first appeals should not be filed for other Public authorities under Central / State Govt. through this portal.</p>
                                <ul>
                                    <li>
                                        <p><a href="https://rtionline.gov.in/" target="_blank">Click Here for information under RTI Act online&nbsp;</a></p>
                                    </li>
                                </ul>
                            </div>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include('footer.ejs') -%>